<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Imageable:</b>
  <%= @picture.imageable_id %>
</p>

<p>
  <b>Imageable type:</b>
  <%= @picture.imageable_type %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
